*{
    border: 1px solid black;
    /* test */
}

.__back-nav{
    background-color: #2c3e50;
}

.__back-acqua{
    background-color: #1abc9c;

    color: white;
}

.__nav-bar{
    min-height: 80px;
    /* test */
}

.__img{
    min-height: 200px;
    /* test */
}

.__card{
    min-height: 100px;
}


