
/* Header */
.__back-dark{
    background-color: #2c3e50;
}

.__back-acqua{
    background-color: #1abc9c;
    color: white;
}

.__img-container{
    width: 200px;
}


/* Separator */

.__star-container{
    max-width: 300px;
}

.__star-container .__rows-star{
    height: 3px;
    min-width: 120px;
    
    border-radius: 20px;
}

.__star-container .__rows-star.__row-w{
    background-color: white;
}

.__star-container .__rows-star.__row-b{
    background-color: black;
}

/* /Separator */


/* Section 3 */

#__my-btn{
    background-color: #1abc9c;

    border: none;
}

/* /Section 3 */


/* Footer */

.__back-dark-blue{
    background-color: #3a546d;

    color: white;
}

#__rounded-link{
    padding: 4px 12px;

    border: 1px solid white;
    border-radius: 50%;
}

#__link-color{
    color: #1abc9c;
}

#__copyright{
    font-size: 0.7em;
}

/* /Footer */


